.page#page-search{
	padding: 30px 50px 20px 50px;
}

.page#page-search input{
	font-size: 3.0em;
}

.page#page-search button{
	font-size: 3.0em;
}

.page#page-search .name{
	width: 150px;
	display: inline-block;
}

.page#page-search .location{
	width: 250px;
	display: inline-block;
}